.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: gray;
}

.carousel-indicators .active {
    background-color: blue;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-control-prev-icon {
    background-image: url("img/left.png");
    height: 25px;
    width: 25px;
}

.carousel-control-next-icon {
    background-image: url("img/Right.png");
    height: 25px;
    width: 25px;
}

    .carousel-control-next-icon:hover {
        border-radius: 100%;
        box-shadow: 0 0 20px blue;
    }

.carousel-control-prev-icon:hover {
    border-radius: 100%;
    box-shadow: 0 0 20px blue;
}

.carousel img {
    width: auto;
    height: 245px;
    max-height: 245px;
    margin: auto;
    display: block;
}
/*Till the width of screen is above 1000 px*/
@media only screen and (min-width: 1200px) {
    #carouselExampleIndicators {
        width: 50%;
    }

    #Button1 {
        background-color: yellow;
    }
}
/*Till the width of screen goes below 768 px*/
@media only screen and (max-width: 768px) {
    #carouselExampleIndicators {
        width: 100%;
    }

    #Button1 {
        background-color: darkblue;
    }
}